spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mariadb://prod-db-host:3306/university
    username: univ_manager
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
